<!--Inheriting layout template-->
{% extends "base.html" %}

<!--Content for the Home Page-->
{% block content %}
    <h1> You have verified your email! </h1>
    <p>
        You can now login and post to the forum.
        <br>
        Thank you for confirming your account.
    </p>
{% endblock content %}