<!--Inheriting layout template-->
{% extends "base.html" %}

<!--Content for the Home Page-->
{% block content %}
    <h1>Sign In</h1>
    <!--novalidate disables browser validation - can be removed once flask validation is tested and working-->
    <form action="{{ url_for('login') }}" method="post" novalidate>
        <p>
            {{ form.username.label|safe }}
            <br>
            {{ form.username|safe }}
            {% for error in form.username.errors %}
            <br>
            <span style="color: red">[{{ error|safe }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label|safe }}
            <br>
            {{ form.password|safe }}
            {% for error in form.password.errors %}
            <br>
            <span style="color: red">[{{ error|safe }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit|safe }}
        </p>
    </form>
    <a href="{{ url_for('request_reset') }}">Forgotten Password?</a>
{% endblock content %}
