<p>Password Reset
<p>Please follow this link to reset your password:</p>
<p><a href="{{ reset_url }}">{{ reset_url }}</a></p>
<p>If you did not request this reset, your account may be compromised.</p>
<p>Consider using the link to update your password anyway.</p>
<br>